/**-------------------------------**\
**
**        # CATCH #
**    This is a catch for elements and styles that I have not sorted yet
\**-------------------------------**/

.wrap {



  h1,h2, {
    text-align: center;
    text-transform: uppercase;
  }

  header {
    padding-bottom: 2em;

    .top-nav {
      width: 100%;
      margin: 0;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        a {
          box-sizing: border-box;
          display: block;
          height: 3em;
          padding: .6em;
          background-color: $lightgray;
          border: 1px solid $lightgray;
          border-bottom: 1px solid $dark;
          color: $dark;
          text-transform: capitalize;
          transition: all .2s ease-out;
        }
        a:hover {
          border: 1px solid $dark;
        }
        a:visited {

        }
      }
    } //END TOP NAV
    .masthead {
      .logo {
        height: 5em;
        width: 5em;
        margin: auto;
        object-fit: contain;
      }
    }
  } //END HEADER
}
@media screen and ( min-width: 50em){
  .main-wrap {
    display: flex;

      main {
        flex: 1 1 auto;
        width: 100%;
        background-color: $lightgray;

        section {
          max-width: 45em;
        }
      }
    }
}

@media screen and ( min-width: 30em){


    .top-nav {

      ul  {
        display: flex;
        flex: wrap;
        justify-content: space-between;
      }

      li {
        text-align: center;
        flex: 1 0 auto;
      }

      a {
        padding: .4em;
        color: $white;

      }
    }
  }
