/**
**
**    FORMATING FOUNDATION
**
**/
/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond");
@import url("https://fonts.googleapis.com/css?family=Quattrocento");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond");
@import url("https://fonts.googleapis.com/css?family=Quattrocento");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond");
@import url("https://fonts.googleapis.com/css?family=Quattrocento");
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */ }

ul {
  list-style-position: inside; }

a {
  text-decoration: none; }

/**
**
**    STYLING FOUNDATION
**    color palette, font imports, typography styles
**/
/**-------------------------------**\
**
**        # FONTS #
**
\**-------------------------------**/
/**-------------------------------**\
**
**        # COLOR paletteE #
**
\**-------------------------------**/
/**
**
**    PROJECT COLOR DICTSIONARY
**
**/
/**
**
**    PRIMARY COLORS
**
**/
/**
**
**    FOUNDATIONAL COLORS
**
**/
/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
/**
**    FONT IMPORTS
**/
/**-------------------------------**\
**
**        # FONTS #
**
\**-------------------------------**/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: 'Raleway', 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both; }

p {
  margin-bottom: 1.5em; }

b,
strong {
  font-weight: bold; }

dfn,
cite,
em,
i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code,
kbd,
tt,
var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark,
ins {
  background: #fff9c0;
  text-decoration: none; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

/**-------------------------------**\
**
**       # TYPOGRAPHY #
**Description: This file consists of SASS typography settings
**
\**-------------------------------**/
/**
**    DEPENDENCIES IMPORTS
**/
/**-------------------------------**\
**
**        # FONTS #
**
\**-------------------------------**/
/**-------------------------------**\
**
**        # COLOR paletteE #
**
\**-------------------------------**/
/**
**
**    PROJECT COLOR DICTSIONARY
**
**/
/**
**
**    PRIMARY COLORS
**
**/
/**
**
**    FOUNDATIONAL COLORS
**
**/
/**
** HEADING VARIABLES: TYPOGRAPHY
**/
/**
*
* Heading typography styles
* h,h1,h2,h3,h4,h5
*
**/
h1,
.h1 {
  font-family: "Raleway", "Lato", sans-serif;
  font-size: 2em; }

h2,
.h2 {
  font-family: "Raleway", "Lato", sans-serif;
  font-size: 1.8em; }

h3,
.h3 {
  font-family: "Raleway", "Lato", sans-serif;
  font-size: 1.6em; }

h4,
.h4 {
  font-family: "Raleway", "Lato", sans-serif;
  font-size: 1.4em; }

h5,
.h5 {
  font-family: "Raleway", "Lato", sans-serif;
  font-size: 1.2em; }

h6,
.h6 {
  font-family: "Raleway", "Lato", sans-serif;
  font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", "Lato", "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: lighter;
  padding: .3em; }

/**
**
**    MODULE
**
**/
.sidebar {
  flex: 0 0 20em;
  background-color: #D8D8D8;
  color: #333030;
  transition: flex .4s ease-out; }
  .sidebar .squish-container button {
    opacity: 0; }
  .sidebar .sidebar-content {
    padding-left: 1.5em; }
    .sidebar .sidebar-content h3, .sidebar .sidebar-content h5 {
      text-align: center;
      padding-left: .5em;
      margin: 0; }
    .sidebar .sidebar-content form {
      padding: 1em;
      display: flex;
      flex-direction: column; }

.hide {
  flex: 0 0 0; }
  .hide .squish-container {
    width: 2em; }

@media screen and (min-width: 50em) {
  .sidebar .squish-container button {
    opacity: 1;
    border: none;
    background-color: inherit;
    padding: .8em;
    padding-right: 1.5em;
    transition: all .2s ease-out; }
    .sidebar .squish-container button svg {
      transform: scale(1.4); }
  .sidebar .squish-container button:hover {
    transform: scale(1.5); }
  .sidebar .squish-container button:focus {
    outline: none; } }
/**
**  SECTION
**/
/******** COLOR-palette_SECTION *******/
section {
  max-width: 80em;
  margin: auto; }
  section .color-container {
    display: flex;
    justify-content: space-around; }
    section .color-container .swatch-container {
      display: flex;
      flex-direction: column; }
      section .color-container .swatch-container .color-title {
        text-align: center; }
      section .color-container .swatch-container .swatch {
        height: 3em;
        width: 3em;
        margin: auto;
        border-radius: 100%;
        background-color: steelblue;
        box-shadow: 2px 2px 5px grey; }
      section .color-container .swatch-container h6 {
        font-size: .6em; }

@media screen and (min-width: 35em) {
  section .color-container .swatch-container .swatch {
    height: 5em;
    width: 5em;
    margin: auto;
    border-radius: 100%;
    background-color: steelblue;
    box-shadow: 2px 2px 5px grey; }
  section .color-container .swatch-container h6 {
    font-size: 1em; } }
.typography section {
  padding: 1em; }
  .typography section h1, .typography section h2, .typography section h3, .typography section h4, .typography section h5, .typography section h6 {
    text-align: left;
    padding: .2em;
    margin: 0; }

/***********************************/
/**-------------------------------**\
**
**        # CATCH #
**    This is a catch for elements and styles that I have not sorted yet
\**-------------------------------**/
.wrap h1, .wrap h2 {
  text-align: center;
  text-transform: uppercase; }
.wrap header {
  padding-bottom: 2em; }
  .wrap header .top-nav {
    width: 100%;
    margin: 0; }
    .wrap header .top-nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .wrap header .top-nav ul a {
        box-sizing: border-box;
        display: block;
        height: 3em;
        padding: .6em;
        background-color: #fafafa;
        border: 1px solid #fafafa;
        border-bottom: 1px solid #333030;
        color: #333030;
        text-transform: capitalize;
        transition: all .2s ease-out; }
      .wrap header .top-nav ul a:hover {
        border: 1px solid #333030; }
  .wrap header .masthead .logo {
    height: 5em;
    width: 5em;
    margin: auto;
    object-fit: contain; }

@media screen and (min-width: 50em) {
  .main-wrap {
    display: flex; }
    .main-wrap main {
      flex: 1 1 auto;
      width: 100%;
      background-color: #fafafa; }
      .main-wrap main section {
        max-width: 45em; } }
@media screen and (min-width: 30em) {
  .top-nav ul {
    display: flex;
    flex: wrap;
    justify-content: space-between; }
  .top-nav li {
    text-align: center;
    flex: 1 0 auto; }
  .top-nav a {
    padding: .4em;
    color: #FFFFFF; } }

/*# sourceMappingURL=style.css.map */
