/**
**
**    FORMATING FOUNDATION
**
**/
/*--------------------------------------------------------------
Layouts
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond");
@import url("https://fonts.googleapis.com/css?family=Quattrocento");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond");
@import url("https://fonts.googleapis.com/css?family=Quattrocento");
.centered {
  margin: 0 auto;
  padding: 0 1em; }

@media screen and (min-width: 52em) {
  .centered {
    max-width: 52em; } }
/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */ }

/**
**
**    STYLING FOUNDATION
**    color palette, font imports, typography styles
**/
/**-------------------------------**\
**
**        # FONTS #
**
\**-------------------------------**/
/**-------------------------------**\
**
**        # COLOR PALLETE #
**
\**-------------------------------**/
/**
**
**    PROJECT COLOR DICTSIONARY
**
**/
/**
**
**    PRIMARY COLORS
**
**/
/**
**
**    FOUNDATIONAL COLORS
**
**/
/**-------------------------------**\
**
**       # TYPOGRAPHY #
**Description: This file consists of SASS typography settings
**
\**-------------------------------**/
/**
**    FONT IMPORTS
**/
/**-------------------------------**\
**
**        # FONTS #
**
\**-------------------------------**/
/**
**    HEADING TYPOGRAPHY VARS
**
**/
/**
**HEADING FONTS
**/
/**
**HEADING SIZE
**/
/**
**HEADING COLOR VARS
**/
/**
**    BODY TYPOGRAPHY VARS
**
**/
/**
*
* Main typography styles
* body,h1,h2,h3,h4,h5, a
*
**/
h1,
.h1 {
  font-family: "Raleway", "Lato", sans-serif;
  font-size: 36px; }

h2,
.h2 {
  font-family: "Raleway", "Lato", sans-serif;
  font-size: 20px; }

h3,
.h3 {
  font-family: "Raleway", "Lato", sans-serif;
  font-size: 24px; }

h4,
.h4 {
  font-family: "Raleway", "Lato", sans-serif;
  font-size: 18px; }

h5,
.h5 {
  font-family: "Raleway", "Lato", sans-serif;
  font-size: 16px; }

h6,
.h6 {
  font-family: "Raleway", "Lato", sans-serif;
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", "Lato", "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: lighter; }

/**
** NORMAL FONTS
**/
/**
**BODY FONTS
**/
/**
**BODY COLOR VARS
**/
.quotes {
  font-family: "Raleway", "Lato", sans-serif;
  font-style: italic;
  font-size: 16px;
  width: 50%;
  margin: auto; }

.normal-text {
  font-family: "Raleway", "Lato", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 1.42857143;
  color: #14365C;
  background-color: #FFFFFF; }

a {
  font-family: "Raleway", "Lato", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  letter-spacing: 4px; }

/**
**
**    LAYOUTS
**
**/
/**-------------------------------**\
**
**        # LAYOUT #
**
\**-------------------------------**/
.centered {
  margin: 0 auto;
  padding: 0 1em; }

@media screen and (min-width: 52em) {
  .centered {
    max-width: 52em; } }
.main-area {
  max-width: 1000px;
  margin: auto; }

section {
  margin-top: 2em;
  margin-bottom: 5em; }

/**----------------------------------**\
**
**    LAYOUT COMPONENT COLORS
**
\**----------------------------------**/
/**
**  NAVIGATION
**/
/**-------------------------------**\
**
**        # STYLING OF SITE NAV #
**
\**-------------------------------**/
/**
**
**       # STYLING OF TOP NAV #
**
**/
.top-nav {
  background-color: #D8D8D8;
  position: relative;
  overflow: hidden;
  top: 0;
  position: fixed;
  width: 100%; }
  .top-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around; }
  .top-nav li {
    flex: 1 0 auto;
    text-align: center; }
  .top-nav a {
    text-transform: uppercase;
    color: #916060; }
  .top-nav a:link {
    text-decoration: none; }
  .top-nav a:visited {
    text-decoration: none; }
  .top-nav a:hover {
    text-decoration: underline; }
  .top-nav a:active {
    text-decoration: underline; }

/**
**  HEADINGS
**/
/**-------------------------------**\
**
**        # STYLING OF SITE HEADING AND SUB-HEADINGS #
**
\**-------------------------------**/
/**
**
**       # STYLING OF SITE-TITLE HEADING #
**
**/
.site-title {
  margin: 1em 1em 1em 1em;
  margin-top: 2em;
  padding: 1em 0;
  color: #753838;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 8px;
  font-weight: normal; }

.site-title-hr {
  align-self: center;
  width: 40%;
  border-style: inset; }

/**
**      # HEADING STYLING #
**
**/
.heading {
  text-transform: uppercase;
  padding: 2em; }

/**
**      # STYLING OF SECTION MAIN HEADING #
**/
.section-title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  width: 100%; }

.section-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 3px solid; }

/**
**      # STYLING OF SECTION SUB-HEADING #
**/
.sub-title {
  color: #753838;
  text-transform: uppercase;
  padding-left: 1em; }

.sub-title-hr {
  width: 20%;
  align-self: left; }

/**
**  SECTION
**/
/******** COLOR-PALLET_SECTION *******/
/**-------------------------------**\
**
**        # STYLING OF THE COLOR PALETTE SECTION #
**
\**-------------------------------**/
/*---------------------vvv PLAYGROUND vvv-------------------------*/
.swatch-details {
  flex: 1; }
  .swatch-details ul {
    padding: 0; }
  .swatch-details li {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    list-style-type: none;
    align-content: center;
    text-align: center;
    list-style-position: inside; }
    .swatch-details li div {
      margin: auto; }

.primary-swatch {
  margin-bottom: 2em;
  width: 100%; }

/*---------------------vvv STABLE vvv-------------------------*/
.color-pallet-section {
  padding-top: 1em;
  padding-bottom: 1em;
  border-width: 3px; }

.swatch-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0; }

.swatch {
  height: 5em;
  width: 5em;
  border-radius: 100%;
  box-shadow: 2px 2px 5px grey; }

.swatch.primary-swatch-one {
  background-color: #6E9093; }

.swatch.primary-swatch-two {
  background-color: #5A728D; }

.swatch.primary-swatch-three {
  background-color: #753838; }

.slate-swatch {
  background-color: #6C6C6C; }

.cloudy-swatch {
  background-color: #D8D8D8; }

.white-swatch {
  background-color: #FFFFFF; }

.black-swatch {
  background-color: #000000; }

/**-------------------------------**\
**
**        # STYLING OF THE TYPOGRAPHY SECTION #
**
\**-------------------------------**/
.typography-section {
  margin: 2em; }
  .typography-section p {
    margin-left: 2em;
    margin-right: 2em; }

.font-details {
  padding-left: 2em; }

.heading-details {
  display: flex;
  justify-content: space-around; }
  .heading-details li {
    list-style-type: none;
    list-style-position: inside; }

.px {
  text-transform: lowercase; }

/***********************************/
/**-------------------------------**\
**
**        # CATCH #
**    This is a catch for elements and styles that I have not sorted yet
\**-------------------------------**/

/*# sourceMappingURL=style.css.map */
